.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar-logo {
    padding: 0rem 2rem;
}

.navbar .profile {
    width: 40px;
}

.main-logo {
    width: 150px;
    font-size: 32px;
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    color: tomato;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.main-logo span {
    color: #49557e;
}